/.vscode/
/.work
/.cache
/.idea

/_output

/tests/integration/rook-test/

# OLM related stuff
cluster/olm/ceph/deploy/*
cluster/olm/ceph/templates/*
cluster/examples/kubernetes/ceph/kubeconfig
.gitignore
kubeconfig
